/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}
a img, :link img, :visited img { border:0 none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style-image: none; list-style-position: outside; list-style-type: none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; }

/* css begin */
html, body { height:100%; }
body {
    font-family: Arial;
    font-size: 12px;
    color: #333;
    width: 100%;
    min-width: 1000px;
}

.popup-container {background: #fff; width: 620px; border-radius: 5px; margin: 0 auto; overflow: hidden; box-shadow: 0px 2px 3px #2f2f2f;}
.popup-container h2 {font-size: 16px; color: #969c9d; font-weight: bold; background: #ecf5f7; padding: 15px 20px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #e5e5e5;}
.popup-info {overflow: hidden;}
.avatar-box {float: left; width: 155px; text-align: center; padding-top: 27px;}
.avatar-box img {margin-bottom: 10px;}
.ava-info {overflow: hidden; border-left: 1px solid #e5e5e5; padding: 25px 0 0 25px;}
.ava-info .block {overflow: hidden; padding-bottom: 5px;} 
.ava-info .block p {float: left; width: 135px; font-size: 16px; color: #a3a3a3; margin-top: 17px;}
.ava-info .block p span {display: block; font-size: 14px; font-style: italic; padding-top: 17px;}
.ava-form {overflow: hidden; padding: 5px;}
.ava-form input {width: 269px; padding-left: 10px; height: 36px; border: 1px solid #e2e2e2; border-radius: 3px; font-size: 16px; color: #000; box-shadow: inset 0 0 7px #e2e2e2;}
.ava-form textarea {width: 259px; padding: 10px; height: 129px; margin-bottom: 15px; font-family: "Arial"; resize: none; border: 1px solid #e2e2e2; border-radius: 3px; font-size: 16px; color: #000; box-shadow: inset 0 0 7px #e2e2e2;}
.ava-form input:focus, .ava-form textarea:focus {border: 1px solid #30b0e2; box-shadow: 0px 0px 5px #30b0e2; outline: none;}
.nw {width: 108px !important;}
.loaded {overflow: hidden; padding-bottom: 8px;}
.loaded .name {width:230px; margin-bottom:10px; float: left; padding: 9px 20px 9px 40px; color: #0b87c1; font-size: 16px; background: url("#{resource['images:pdf.png']}") no-repeat 12px 50% #f2f2f2; border-radius: 3px;}
.loaded .name:hover {text-decoration: none; cursor: pointer;}
.loaded .ui-outputlabel {cursor: pointer;}
.loaded .close {float: left; margin-left: 18px;}
.load-pdf {background: url("#{resource['images:load-pdf.png']}")  repeat-x; border-radius: 3px; border: 1px solid #e5e5e5; color: #616161; font-size: 16px; text-decoration: none; display: inline-block;}
.load-pdf span {display: inline-block;background: url("#{resource['images:pluse.png']}") no-repeat 14px 50%; padding: 8px 10px 8px 35px; font-size: 16px;}

.bottom-info {background: #f2f2f2; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 10px 20px; overflow: hidden;}
.bottom-info p {float: left; color: #b42f2f; font-size: 16px; margin-top: 10px;}
.button-right {float: right;}
.button-right a {float: left; display: block; background: url("#{resource['images:button-right.png']}") repeat-x; padding: 10px 0px 6px 0px; border: 1px solid #dcdcdc; border-radius: 3px; color: #616161; font-size: 16px; text-decoration: none; text-align: center; margin-left: 19px;}
.button-right .cancel {width: 130px; font-size: 15px !important;}
.button-right .save {width: 130px; font-size: 15px !important;}

select,
.selectBox {
    width: 279px; height: 36px; border: 1px solid #e2e2e2; border-radius: 3px; font-size: 16px; color: #000; box-shadow: inset 0 0 7px #e2e2e2; position: relative;
}
.selectBox:hover {
    color: #000;
    text-decoration: none;
}
.selectBox-label {
    position: absolute; top: 9px; left: 10px;
}
.selectBox-arrow {
    position: absolute;
    left: auto;
    right: 10px;
    top: 17px;
    width: 11px;
    height: 6px;
    overflow: hidden;
    cursor: pointer;
    background: url("#{resource['images:select.png']}")  0 0 no-repeat;
}
.selectBox-dropdown-menu {
    position: absolute;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #e2e2e2;
}
.selectBox-dropdown-menu li {
    display: block; 
}
.selectBox-dropdown-menu li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer; 
}
.selectBox-dropdown-menu li a:hover {
    color: #fff; 
    text-decoration: none;
    background: #333;
}

.load-image-ru{
    background-image: url("#{resource['images/ru:upload.png']}");
}

.load-image-en{
    background-image: url("#{resource['images/en:upload.png']}");
}



.edit_book_table td, .edit_book_table tr{
    vertical-align: top;
    text-shadow:0;
    border:0;
}

.edit_book_table .ui-panelgrid-footer td{
    text-align: right;
}

.edit_book_table .ui-panelgrid-footer td button{
    margin-left:10px;    
}

.edit_book_table tbody{
    border:1px solid #d6d6d6;
    padding:30px;
}

.edit_book_table img{
    border: none;
}

.edit-title{
    font-weight: bold;
    color:#880000;
}


.ui-widget-header{
    text-align: center;
}

.ui-dialog-title{
    font-weight: bold;
    font-size: 18px;
}

#editDialog .ui-dialog-titlebar, #sendMailDialog .ui-dialog-titlebar{
    font-size: 16px;
    color: #969c9d;
    font-weight: bold;
    background: #ecf5f7;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e5e5e5;
}

#editDialog{    
    background: #fff;
    width: 650px !important;;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 2px 3px #2f2f2f;
}

.edit_book_table{
    width:100%;
}

.edit_book_table .ui-widget-content{
    border:0;
}

.fileupload-content{
    display: none !important;
}

.ui-fileupload .start {
    display: none !important;
}
.ui-fileupload .cancel {
    display: none !important;
}
.ui-fileupload .progress {
    display: none !important;
}

.error-div{
    height: 100px;
    padding: 50px;
    text-align: center;
}

.error-div form{
    margin: 20px;
    text-align: center;
}

.error-div label{
    font-size: 30px;
    color:#aeaeae;
}

.pdf-link label{
    color:blue;
    cursor: pointer;
    font-weight: bold;
}

.loaded .fileupload-buttonbar{
    background: url("/JsfLibrary_22_h/javax.faces.resource/load-pdf.png.xhtml?ln=images") repeat-x;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: #616161;
    font-size: 16px !important;
    text-decoration: none;
    display: inline-block;
    width:200px;
    padding:0;
}

.error-div{
    float: left;
    color: #b42f2f;
    font-size: 16px;
    margin-top: 10px;
    width:250px;
    padding:5px;
    margin:0;
    height:30px;
}


.book-details{
    width: 100%;
}

.edit-field{
    width:400px !important;
}


.ui-selectonemenu.ui-state-default{
    border:1px solid #a8a8a8;   
}

.ui-dialog .ui-dialog-content{
    padding:0;
}

.ava-form .ui-selectonemenu{
    width:279px !important;
    height: 36px !important;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    box-shadow: inset 0 0 7px #e2e2e2;
    position: relative;
}

.ava-form .ui-selectonemenu label{
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
}

.ava-form .ui-selectonemenu-trigger{
    position: absolute;
    left: auto;
    right: 10px;
    top: 17px;
    width: 11px;
    height: 6px;
    overflow: hidden;
    cursor: pointer;
    background: url("#{resource['images:select.png']}")  0 0 no-repeat;
}


#booksForm .ui-confirm-dialog{
    background: #fff;
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 2px 3px #2f2f2f;
}

#booksForm .ui-dialog-titlebar{
    font-size: 16px;
    color: #969c9d;
    font-weight: bold;
    background: #ecf5f7;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e5e5e5;
}

#booksForm .ui-dialog-content{
    padding: 10px;
    font-size: 15px;
    
}

input.mail-subject, textarea.mail-message{
    width:350px !important;
}

